.wrapper {
	overflow-x: hidden;
}

.sidebar-wrapper {
	min-height: 100vh;
	margin-left: -13rem;
	background-color: #fff;
	box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%), 0 1px 2px 0 rgb(0 0 0 / 6%);
	-webkit-transition: margin 0.25s ease-out;
	-moz-transition: margin 0.25s ease-out;
	-o-transition: margin 0.25s ease-out;
	transition: margin 0.25s ease-out;
}

.sidebar-wrapper .sidebar-heading {
	padding: 0.875rem;
	font-size: 1.2rem;
}

.sidebar-heading {
	margin-top: 6rem;
}

.sidebar-headings {
	font-size: 16px !important;
	padding-left: 1.5rem !important;
}

.sidebar-info {
	margin-top: 0.25rem;
	font-size: 12px;
	font-weight: bold;
	padding-left: 2rem;
}

.sidebar-image-container {
	margin: auto;
	width: 150px;
	height: 150px;
}

.sidebar-image {
	border-radius: 50% !important;
}

.sidebar-wrapper .list-group {
	width: 10.5rem;
}

.sidebar-menu h4 {
	padding-left: 1rem;
}

.sidebar-menu-items {
	padding: 0.25rem !important;
}

.page-content-wrapper {
	min-width: 100vw;
}

.wrapper.closed .sidebar-wrapper {
	margin-left: 0;
}

@media (min-width: 768px) {
	.sidebar-wrapper {
		margin-left: 0;
	}

	.page-content-wrapper {
		min-width: 0;
		width: 100%;
	}

	.wrapper.closed .sidebar-wrapper {
		margin-left: -13rem;
	}
}

.wrapper {
	display: flex;
	flex-direction: row;
	position: relative;
}

.list-group-item {
	border: none !important;
	padding-top: 0.5rem !important;
	padding-bottom: 0 !important;
	padding-left: 2rem !important;
}

.list-group-item span {
	font-size: 12px !important;
	font-weight: 400;
}
